name = "bcr-frontend-api"
main = "index.mjs"
compatibility_date = "2024-12-01"

# Workers Paid plan required for wasm
# account_id = "df53dccd72b4a61d2f8b1323256bc71c"

# Build is handled by deploy.sh using Bazel
# Deploy script creates a temp directory with all artifacts and runs wrangler from there

[[rules]]
globs = ["**/*.wasm"]
type = "CompiledWasm"
fallthrough = true
