name: CI

# Controls when the action will run.
on:
  push:
    branches: [master]
  pull_request:
  workflow_dispatch:

concurrency:
  # Cancel previous actions from the same PR: https://stackoverflow.com/a/72408109
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true

      - name: Clean submodule
        run: make bcr_clean

      - uses: bazel-contrib/setup-bazel@0.16.0
      - name: format check
        run: |
          bazelisk run //:format
          if ! git diff --exit-code; then
            echo "Error: Formatting changes detected. Please run 'bazel run //:format' and commit the changes."
            exit 1
          fi
      - name: bazel build
        run: >-
          bazelisk
          --bazelrc=.github/workflows/ci.bazelrc
          --bazelrc=.bazelrc
          build
          --//app/bcr:release_type=dummy
          //pkg/... //cmd/... //language/... //app/... //blaze/... //build/... //stardoc_output/...
      - name: bazel test
        run: >-
          bazelisk
          --bazelrc=.github/workflows/ci.bazelrc
          --bazelrc=.bazelrc
          test
          --//app/bcr:release_type=dummy
          //pkg/... //cmd/... //language/...
