name: Release

on:
  workflow_dispatch:
    inputs:
      tag_name:
        description: "Tag name (e.g., v1.0.0)"
        required: false
        type: string

concurrency:
  group: ${{ github.workflow }}-${{ inputs.tag_name || github.ref }}
  cancel-in-progress: false

jobs:
  release:
    runs-on: self-hosted
    permissions:
      contents: write
      packages: write
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v4
      - uses: bazel-contrib/setup-bazel@0.15.0
      - name: init/update submodule
        run: make bcr_init bcr_update
      - name: setup
        run: >-
          bazelisk
          --bazelrc=.github/workflows/ci.bazelrc
          --bazelrc=.bazelrc
          run
          //:bcr
      - name: deploy
        run: >-
          bazelisk
          --bazelrc=.github/workflows/ci.bazelrc
          --bazelrc=.bazelrc
          run
          --//app/bcr:release_type=production
          //app/bcr:deploy
