name: Release

on:
  workflow_dispatch:
    inputs:
      tag_name:
        description: "Tag name (e.g., v1.0.0)"
        required: false
        type: string

concurrency:
  group: ${{ github.workflow }}-${{ inputs.tag_name || github.ref }}
  cancel-in-progress: false

jobs:
  test:
    runs-on: self-hosted
    permissions:
      contents: write
      packages: write
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v4
      - uses: bazel-contrib/setup-bazel@0.15.0
      - name: update submodule
        run: git submodule update --init --remote data/bazel-central-registry
      - name: gazelle central_registry
        run: >-
          bazelisk
          --bazelrc=.github/workflows/ci.bazelrc
          --bazelrc=.bazelrc
          run
          central_registry
      - name: build release
        run: >-
          bazelisk
          --bazelrc=.github/workflows/ci.bazelrc
          --bazelrc=.bazelrc
          build
          //app/bcr:release
          --//app/bcr:release_type=production
