/**
 * _style.css contains assorted css classes that are subject to
 * closure_css_binary and renaming.
 */

:root {
  --header-bgColor: white;
  --color-header-text: black;
  --color-header-logo: black;
  --color-header-search-bg: rgba(255, 255, 255, 0.90);
}

.app-container {
  background: #333;
  color: #f6f6f6;
  font-family: sans-serif;
  margin: 1em auto;
  padding: 0 1em;
  width: 960px;
}

.app-logo {
  display: inline-block;
  max-width: 120px;
}

.app-emphasis {
  color: #f63333;
}


/* Dossier-inspired autocomplete */

.dossier-ac {
  z-index: 2;
}

.ac-renderer {
  position: absolute;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.08);
  box-shadow: 4px 4px 4px rgba(102, 102, 102, 0.4);
  /* width: 300px; */
  margin-top: 8px;
  padding: 8px;
  border-radius: 3px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.ac-row {
  cursor: pointer;
  padding: 8px;
  line-height: 18px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ac-highlighted {
  background-color: rgba(0, 0, 0, 0.18);
}

.ac-active {
  background-color: rgba(82, 82, 82, 0.1);
  color: green;
}